#desc-1 {
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin: 0;
  }

  #text-container {
    display: flex;
    flex-direction: column; /* Stack the h1 and p vertically */
    text-align: center;
    border-radius: 5px; /* Optional: adds rounded corners to the text container */
    padding: 20px; /* Adds some padding to avoid text touching the edges */
  }

  #desc-1 h1 {
    font-size: 2.5rem;
    color: lightblue;
    font-family: Arial;
    width: 100%; /* Ensure the h1 takes up full width */
    text-align: left;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* 3D text shadow */
  }

  #desc-1 p {
    color: white;
    font-family: Arial;
    width: 100%; /* Ensure the p takes up full width */
    text-align: left;
    margin-top: 10px; /* Add some space between the h1 and p */
    font-size: 1.5rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4); /* 3D text shadow */
  }

  #image-1-container {
    width: 50%; /* Adjust the width of the image container */
    display: block;
    margin-top: 20px; /* Add space between the text and image */
    margin-bottom: 20px; /* Add space between the text and image */
    border-radius: 10px; /* Optional: adds rounded corners to the image container */
  }

  #image-1 {
    width: 300px; /* Adjust the width of the image */
    display: block;
    margin-left: 20px; /* Add space between the image and text */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Soft shadow for the image */
    border-radius: 25px; /* Optional: adds rounded corners to the image */
  }
