#desc-1 {
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Align items to the top */
  padding: 0 20px;
}

#desc-1 h1 {
  font-size: 1.5rem;
  color: lightblue;
  font-family: Arial;
  width: 50%;
  text-align: left;
}

#desc-1 p {
  color: white;
  font-family: Arial;
  width: 50%;
  text-align: left;
  margin-top: 10px; /* Add some space between the h1 and p */
}

#image-1-continer {
  width: 50%; /* Adjust the width of the image */
  display: block;
  margin-left: 20px; /* Add space between the image and text */
}
#image-1 {
  width: 300px; /* Adjust the width of the image */
  display: block;
  margin-left: 20px; /* Add space between the image and text */
}
