#game-container {
    margin: 4px auto;
    width: 80%;
    height: 570px; /* Set height to 570px */
    border: none;
    position: relative;
    background-color: none;
    opacity: 1;
}

#game-container #iframe-container {
    width: 100%;
    height: 80%;
    border: 4px solid pink;
    border-radius: 10px;
    background-color: #000;
}

#game-container iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    background-color: black;
}

#game-container .buttons-container {
    position: absolute;
    bottom: 10px; /* Move the buttons to the bottom-left */
    right: 10px; /* Align buttons to the left edge of the iframe */
}
#game-container .buttons-container button {
    padding: 20px;
    background-color: rgba(210, 180, 140, 1);
    color: lightblue;
    transition: background-color 0.7s;
    border: 2px solid lightblue;
}
#game-container .buttons-container button:hover {
    padding: 20px;
    background-color: lightblue;
    color: rgba(210, 180, 140, 1);
    transition: background-color 0.7s;
    border: none;
}
#game-container .container {
    position: absolute;
    height: 20%;
    width: 100%;
    display: flex;
}

#game-container #game-name {
    position: absolute;
    bottom: 10px; /* Move the game name to the bottom-right */
    left: 10px; /* Align game name to the right edge of the iframe */
    color: lightblue;
    font-size: 40px;
    padding-top: 10px;
}
