@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body {
    margin-top: 0px;
    background-color: rgba(210, 180, 140, 1);
    width: 100%;
    height: 100%;
    font-family: Space Grotesk;
    margin-top: 60px;
    overflow-x: hidden;
    text-decoration: none; /* Remove underline from all links */
}
#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#game-container {
    margin: 4px auto;
    width: 60%;
    height: 500px; /* Set height to 570px */
    border: none;
    position: relative;
    background-color: none;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game-container #iframe-container {
    width: 100%;
    height: 80%;
    border: 4px solid pink;
    border-radius: 10px;
    background-color: #000;
}

#game-container iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    background-color: black;
}

#game-container .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}

#game-container .buttons-container {
    display: flex;
    gap: 10px;
}

#game-container .buttons-container button {
    padding: 10px 20px;
    background-color: rgba(210, 180, 140, 1);
    color: lightblue;
    transition: background-color 0.7s;
    border: 2px solid lightblue;
}

#game-container .buttons-container button:hover {
    padding: 10px 20px;
    background-color: lightblue;
    color: rgba(210, 180, 140, 1);
    transition: background-color 0.7s;
    border: none;
}

#game-container #game-name {
    color: lightblue;
    font-size: 40px;
    padding-top: 10px;
    font-family: Bebas Neue;
}
